*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Raleway,sans-serif;
    transition: all 0.3s ease-in-out;
}

img{
    height: 100%;
    width: 100%;
}